 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <form action="/newUser" method="post"> 
            <div class="box">
                <h2>Sign Up Page</h2>
                <input type="text" placeholder="Firstname" name="firstName" id="firstname" required><br>
                <input type="text" placeholder="Lastname" name="lastName" id="lastname" required><br>
                <input type="email" placeholder="Email" name="email" id="email" required><br>
                <input type="tel" placeholder="Age" name="age" id="age" required><br>
                <input type="text" placeholder="Phone Number" name="phoneNumber" id="phno" required><br>
                <input type="password" placeholder="Password" name="password" id="password" required><br>
                <input type="text" placeholder="address" name="address" id="address" required>
                <h5><a href="#">forget password?</a></h5><br>
                <button type="submit">Sign Up</button>
                <p>Already a user sign in <a href="sign-in.html">here</a></p>

                <button><a href="homepage.html">Homepage</a></button>
                
            </div>
        </form>
    </div>

    <script>
        function myFunction() 
        {   
            alert("You have been registered successfully");
        }
    </script>
</body>
</html>