<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h1 style="text-align: center;"> Login Successful</h1>
    <h2 style="text-align: center;">Welcome to your dashboard</h2>

    <form action="/" method="get">
        <button style="background: red; color: white; float: right;">Logout</button><br>
    </form>
</body>
</html>